# Template to edit dev build versions
steps:
  - bash: |
      set -e
      echo "BUILD_BUILDID: $BUILD_BUILDID"
      VERSION_SUFIX="$(echo $BUILD_BUILDID | sed -E 's/[- ]/_/g')"
      echo "VERSION_SUFIX: $VERSION_SUFIX"
      VERSION_FILE="$BUILD_SOURCESDIRECTORY/tensorflow/tools/pip_package/setup.py"
      echo "Version file: $VERSION_FILE"

      if [[ ! -f "$VERSION_FILE" ]]; then
        echo File $VERSION_FILE does not exist.
        exit 1
      fi

      if [[ "$BUILD_SOURCEBRANCHNAME" == "msft-"* ]] || [[ "$BUILD_SOURCEBRANCH" == *"releases/"* ]]; then
        VERSION_SUFIX=".post${VERSION_SUFIX}"
        echo "Release generation detected. The VERSION_SUFIX will be directly appended."
      else
        VERSION_SUFIX=".dev${VERSION_SUFIX}"
        echo "Dev Release generation detected. The VERSION_SUFIX will be prefixed with the dev tag."
      fi
      sed -E -iorg "s/_VERSION = (['\"])([0-9]+\.[0-9]+\.[0-9]+)(\.post[^'\"]*)?(['\"])/_VERSION = \1\2$VERSION_SUFIX\4/" $VERSION_FILE
      cat $VERSION_FILE | grep "_VERSION ="
    displayName: 'Assigning a Wheels build #'
